{% extends 'subscribe\base.html' %}
{% load widget_tweaks %}
{%block content%}
    <div class="form-container">
        <a href="{% url 'unsubscribe'%}" class="unsubscribe">Unsubscribe?</a>
        <h2>Subscribe to the daily data sender.</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.name.errors }}
                {{ form.name.label_tag }}
                {% render_field form.name class='name-field' placeholder='nickname...' %}
            </div>
            <div class="fieldWrapper">
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {% render_field form.email class='email-field' placeholder='email...' %}
            </div>
            <div class="fieldWrapper">
                {{ form.country.errors }}
                {{ form.country.label_tag }}
                {% render_field form.country class='country-select-field' placeholder='country...' %}
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
{%endblock content%}