{%extends 'subscribe\base.html'%}
{% load widget_tweaks%}
{%block content%}
    <div class="form-container-unsub">
        <h2>Unsubscribe to the daily data sender.</h2>
        <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {% render_field form.email class='email-field' placeholder='email...' %}
        </div>
        <input type="submit" value="Submit">
        </form>
    </div>
{%endblock content%}